<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/karimmekdoud/IdeaProjects/MonotoringFremworkProject/src/test/java/com/Amazon/testcases/LoginTestapp.java"><classes><class name="com.Amazon.testcases.LoginTestapp"><methods><include name="loginPageTitleTest"/><include name="loginApp"/></methods></class></classes></test></suite>